<h1 mat-dialog-title>Clientes Labellamafia</h1>
<mat-dialog-content>
  {{ message }}
</mat-dialog-content>
<br>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="onConfirmClick()"
    tabindex="1"
  >
    {{ confirmButtonText }}
  </button>
  <button mat-raised-button mat-dialog-close>{{cancelButtonText}}</button>
</mat-dialog-actions>
