<h1 mat-dialog-title>Arquivo não suportado</h1>
<div mat-dialog-content>Por favor, faça o upload de um outro arquivo.</div>
<div mat-dialog-content>Os arquivos suportado são: pdf, png, jpg, jpeg</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Ok</button>
</div>
