
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 25px 0 16px 0 !important;
}

p {
  margin: 0;
}

form {
  max-width: 900px;
  padding: 10px 25px 25px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.bg {
  min-height: -webkit-fill-available;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)) !important;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}


.inp-disabled {
  background: #f7f7f7;
  font-weight: 600;
}

.center-align-text {
  text-align: center;
}

.div-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.flex-row-bl {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.alert_error {
  font-size: 12px;
  color: #c7c7c7;
  text-align: center;
  margin: -20px 0 10px 0;
  width: 300px;
}

.sub-header {
  width: -webkit-fill-available;
  text-align: center;
}
.sub-header2 {
  width: 450px;
  margin: auto !important;
  text-align: center;
}

.lb-custom {
  font-weight: 500;
  margin: 0 10px;
  text-align: end;
  width: 75px;
}

.text-area-description {
  width: 400px;
}

.bt-border {
  border-bottom: 1px solid #d5d5d5;
}

.qnt-marcas-wrapper {
  width: 600px;
  gap: 5px;
  margin-bottom: 10px !important;
}

.disable-text {
  font-weight: 500;
  color: #7a7a7a;
}

.tb-row {
  border-bottom: 1px solid #d5d5d5;
}

.tb-perg {
  width: 470px;
  max-width: 310px;
  text-align: center;
}

.td-middle {
  font-size: 12px;
  vertical-align: middle;
}

tr:nth-child(even) {
  background:rgba(232, 232, 232, 0.5);
}

.wd-150 {
  width: 150px;
}
.wd-400 {
  width: 400px;
}
.wd-435 {
  width: 435px;
}

.wr-local {
  margin-left: -190px;
}

@media screen and (max-width: 993px) {
  .container {
    display: flex;
    justify-content: center;
  }
  form {
    max-width: 600px;
  }
  h3 {
    min-width: 300px;
    text-align: center;
  }
  .qntMarcas {
    margin: 0;
  }
  .qnt-marcas-wrapper {
    width: auto;
    gap: 0;
  }
  .sub-header {
    text-align: center;
    padding: 15px;
  }
  .sub-header2 {
    padding: 15px;
    width: auto;
    min-width: 0 !important;
  }
  .wd-150 {
    width: auto;
  }
  .wd-400 {
    width: 240px;
  }
  .wd-435 {
    width: auto;
  }
  .wr-local {
    margin-left: 0;
  }
  .codigo-wrapper {
    margin-left: 0;
  }

  .header-mat {
    font-size: 1em !important;
  }
  .resp-div {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
@media screen and (max-width: 475px) {
  .tb-perg {
    font-size: smaller;
  }

  .lb-custom {
    font-weight: 500;
    margin: 10px 0 0;
    text-align: center;
    width: 75px;
  }

  .td-middle {
    font-size: 10px;
  }
  form {
    max-width: 350px;
  }
  .wd-150 {
    width: auto;
  }
  .wd-400 {
    width: 240px;
  }
  .header-mat {
    font-size: 1em !important;
  }
  .resp-div {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}


.header-mat {
  font-size: 18px;
}

.checked-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.checked-margin {
  margin: 0 10px;
}

.ac-section-headers-align .mat-expansion-panel-header-title,
.ac-section-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.ac-section-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

.ac-section-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-slider-horizontal {
  width: 300px;
}

footer {
  color: aliceblue;
  background-color: #585858;
}
.footer-wrapper {
  padding: 5px;
  font-size: 12px;
}

.link-footer {
  color: azure;
  font-size: 12px;
  font-weight: 500;
}

/* svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
} */
