<div class="bg">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img
      style="border-radius: 7px"
      width="100"
      alt="LBM Logo"
      src="../assets/labella.gif"
    />
    <span>Cadastro de clientes</span>
    <div class="spacer"></div>
  </div>

  <div class="container" role="main">
    <form [formGroup]="clientes">
      <h1>Formulário de Cadastro Cliente</h1>

      <mat-accordion class="ac-section-headers-align">
        <!-- Informações Lojista -->
        <mat-expansion-panel
          [expanded]="step === 0"
          (opened)="setStep(0)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="header-mat">
              Informações da Loja
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>assignment</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <section style="padding-top: 15px">
            <!-- Cod: cli - grupo -->
            <div class="row">
              <div class="col-lg-6 div-center">
                <mat-form-field
                  appearance="fill"
                  [(ngModel)]="cod_cliente"
                  [ngModelOptions]="{ standalone: true }"
                  ngDefaultControl
                >
                  <mat-label>Código do Cliente:</mat-label>
                  <input
                    matInput
                    formControlName="cod_cli"
                    (blur)="getClientes()"
                  />
                </mat-form-field>
                <span class="alert_error" *ngIf="show_alert"
                  >Código-Cliente não encontrado!</span
                >
              </div>

              <div class="col-lg-6 div-center">
                <mat-form-field appearance="fill">
                  <mat-label>Código grupo econômico:</mat-label>
                  <input matInput formControlName="cod_grupo" />
                </mat-form-field>
              </div>
            </div>

            <div class="row" style="margin-bottom: 15px">
              <!-- Nome loja -->
              <div class="col-lg-6 div-center">
                <mat-form-field class="wd-400 inp-disabled" appearance="fill">
                  <mat-label
                    >Nome da loja (Preenchido automáticamente)</mat-label
                  >
                  <input
                    matInput
                    ngDefaultControl
                    formControlName="nome_loja"
                    [value]="nome_loja"
                    placeholder="Insira o código do cliente"
                  />
                </mat-form-field>
              </div>

              <!-- CNPJ - (Não mostrar no front) -->
              <div style="display: none">
                <mat-form-field appearance="fill" appearance="fill">
                  <mat-label>CNPJ:</mat-label>
                  <input matInput formControlName="cnpj" [value]="cnpj" />
                </mat-form-field>
              </div>
              <!-- Não mostrar no front -->

              <!-- ano inaug -->
              <div
                class="col-lg-6 div-center"
                style="text-align: center; margin-top: 15px"
              >
                <mat-form-field appearance="fill">
                  <mat-label>Ano de inauguração</mat-label>
                  <input
                    matInput
                    formControlName="ano_inauguracao"
                    placeholder="2022"
                    type="number"
                    min="1900"
                    max="2022"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!-- Email -->
              <div
                class="col-lg-6 div-center resp-div"
                style="text-align: center"
              >
                <mat-form-field
                  class="wd-400"
                  appearance="fill"
                  floatLabel="always"
                >
                  <mat-label
                    >E-mail do responsável (para receber boletos)</mat-label
                  >
                  <input
                    matInput
                    formControlName="email"
                    type="email"
                    placeholder="nome@email.com"
                  />
                </mat-form-field>
                <div
                  style="margin-top: -15px"
                  *ngIf="
                    (testEmail?.invalid && testEmail?.touched) ||
                    testEmail?.dirty
                  "
                >
                  <small *ngIf="testEmail?.errors" class="text-danger"
                    >Por favor insira um e-mail válido</small
                  >
                </div>
              </div>
              <!-- Instagram pessoal -->
              <div class="col-lg-6 div-center">
                <mat-form-field
                  class="wd-400"
                  appearance="fill"
                  floatLabel="always"
                >
                  <mat-label>instagram Pessoal</mat-label>
                  <input
                    matInput
                    formControlName="instagram_pessoal"
                    type="text"
                    placeholder="insta.do.cliente"
                  />
                  <span matPrefix>@&nbsp;</span>
                </mat-form-field>
              </div>
            </div>

            <!-- Instagram vendedores -->
            <div class="row flex-row-center">
              <mat-form-field
                class="wd-400"
                appearance="fill"
                floatLabel="always"
              >
                <mat-label>instagram Vendedores</mat-label>
                <textarea
                  formControlName="instagram_vendedores"
                  matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="25"
                  placeholder="Lista com os @ dos vendedores"
                ></textarea>
              </mat-form-field>
            </div>
          </section>

          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">
              Próximo
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- Canais Digitais -->
        <mat-expansion-panel
          [expanded]="step === 1"
          (opened)="setStep(1)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="header-mat">
              Canais Digitais
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>wifi</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <section>
            <!-- Possui Canais -->
            <div class="row flex-column-center">
              <h2 class="sub-header">Possui um canal de venda online?</h2>
              <section
                [(ngModel)]="maisDeUmCanal"
                [ngModelOptions]="{ standalone: true }"
                ngDefaultControl
                class="checked-section"
              >
                <label class="checked-margin"></label>
                <mat-radio-group formControlName="possui_canal_de_venda">
                  <mat-radio-button
                    color="primary"
                    class="checked-margin"
                    value="sim"
                    >Sim</mat-radio-button
                  >
                  <mat-radio-button
                    color="primary"
                    class="checked-margin"
                    value="nao"
                    >Não</mat-radio-button
                  >
                </mat-radio-group>
              </section>
            </div>

            <!-- Quais Canais -->
            <!-- <div *ngIf="maisDeUmCanal == 'sim'">
              <div class="row flex-column-center">
                <h2 class="sub-header">Canais digitais em que faz vendas:</h2>
                <mat-form-field appearance="fill">
                  <mat-label>Selecionar:</mat-label>
                  <mat-select formControlName="canais_digitais" multiple>
                    <mat-option value="ecommerce">E-Commerce</mat-option>
                    <mat-option value="instagram">Instagram</mat-option>
                    <mat-option value="facebook">Facebook</mat-option>
                    <mat-option value="whatsapp">Whatsapp</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> -->

            <!-- Endereço canais -->
            <div *ngIf="maisDeUmCanal == 'sim'">
              <div class="row flex-column-center">
                <h2 class="sub-header">
                  Informe os endereços dos canais de venda online do cliente
                </h2>
                <div class="col flex-row-center">
                  <mat-form-field
                    class="wd-400"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>E-Commerce</mat-label>
                    <input
                      matInput
                      formControlName="endereco_canal_ecommerce"
                      placeholder="loja-do-cliente.com.br"
                    />
                  </mat-form-field>
                </div>
                <div class="col flex-row-center">
                  <mat-form-field
                    class="wd-400"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>Instagram</mat-label>
                    <span matPrefix>@&nbsp;</span>
                    <input
                      matInput
                      formControlName="endereco_canal_instagram"
                      placeholder="insta.da.loja"
                    />
                  </mat-form-field>
                </div>
                <div class="col flex-row-center">
                  <mat-form-field
                    class="wd-400"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>Facebook</mat-label>
                    <input
                      matInput
                      formControlName="endereco_canal_facebook"
                      placeholder="facebook.com/loja-do-cliente"
                    />
                  </mat-form-field>
                </div>
                <div class="col flex-row-center">
                  <mat-form-field
                    class="wd-400"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>Whatsapp</mat-label>
                    <span matPrefix>+55&nbsp;</span>
                    <input
                      matInput
                      formControlName="endereco_canal_whatsapp"
                      placeholder="(00) 00000-0000"
                      mask="(00) 00000-0000"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>

            <!-- table canais -->
            <div *ngIf="maisDeUmCanal == 'sim'" class="table-responsive">
              <h2 style="text-align: center">
                Selecione o canal que representa a resposta de cada item:
              </h2>
              <table class="table">
                <tbody>
                  <tr class="tb-row">
                    <mat-radio-group formControlName="canal_venda_interessados">
                      <td class="tb-perg">
                        O maior número de interessados em compras:
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="ecommerce"
                          >E-Commerce</mat-radio-button
                        >
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="instagram"
                          >Instagram</mat-radio-button
                        >
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="facebook"
                          >Facebook</mat-radio-button
                        >
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="whatsapp"
                          >Whatsapp</mat-radio-button
                        >
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr class="tb-row">
                    <mat-radio-group formControlName="canal_venda_mais_vendas">
                      <td class="tb-perg">
                        O maior responsável por fazer a sua loja efetuar vendas,
                        mesmo sendo apenas o primeiro contato que gerará a
                        venda:
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="ecommerce"
                          >E-Commerce</mat-radio-button
                        >
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="instagram"
                          >Instagram</mat-radio-button
                        >
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="facebook"
                          >Facebook</mat-radio-button
                        >
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="whatsapp"
                          >Whatsapp</mat-radio-button
                        >
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr class="tb-row">
                    <mat-radio-group formControlName="canal_vendas_dificuldade">
                      <td class="tb-perg">Mais gostaria de se aperfeiçoar:</td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="ecommerce"
                          >E-Commerce</mat-radio-button
                        >
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="instagram"
                          >Instagram</mat-radio-button
                        >
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="facebook"
                          >Facebook</mat-radio-button
                        >
                      </td>
                      <td class="td-middle">
                        <mat-radio-button
                          color="primary"
                          class="checked-margin"
                          value="whatsapp"
                          >Whatsapp</mat-radio-button
                        >
                      </td>
                    </mat-radio-group>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Voltar</button>
            <button mat-button color="primary" (click)="nextStep()">
              Próximo
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- marketing -->
        <mat-expansion-panel
          [expanded]="step === 2"
          (opened)="setStep(2)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="header-mat"> Marketing </mat-panel-title>
            <mat-panel-description>
              <mat-icon>question_answer</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <section>
            <!-- essencial hoje para manter uma marca ativa -->
            <div class="row flex-row-center">
              <h3 class="sub-header">
                O que considera essencial para manter uma marca ativa (comprar
                todas as coleções do ano) em sua loja?
              </h3>
              <mat-form-field appearance="fill" class="text-area-description">
                <mat-label>Descreva</mat-label>
                <textarea
                  formControlName="essencial_marca_ativa"
                  matInput
                  cols="30"
                ></textarea>
              </mat-form-field>
            </div>

            <!-- maior volume de vendas -->
            <div class="row flex-row-center">
              <h3 class="sub-header">
                Aponte o momento em que a sua loja alcança o maior volume de
                vendas.
              </h3>
              <mat-form-field class="text-area-description" appearance="fill">
                <mat-label>Selecionar</mat-label>
                <mat-select formControlName="momento_maior_vendas">
                  <mat-option value="liquidacao_colecao_verao"
                    >Liquidação ao final da coleção de verão</mat-option
                  >
                  <mat-option value="liquidacao_colecao_inverno"
                    >Liquidação ao final da coleção de inverno</mat-option
                  >
                  <mat-option value="lancamento_colecao_verao"
                    >Lançamento de coleção de verão</mat-option
                  >
                  <mat-option value="lancamento_colecao_inverno"
                    >Lançamento da coleção de inverno</mat-option
                  >
                  <mat-option value="natal">Natal</mat-option>
                  <mat-option value="blackfriday">Blackfriday</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- compra de uma coleção -->
            <div class="row flex-row-center">
              <h3 class="sub-header">
                No <strong>momento da compra de uma coleção</strong>, o que é
                essencial para a sua experiência em relação à marca?
              </h3>
              <mat-form-field class="text-area-description" appearance="fill">
                <mat-label>Descreva</mat-label>
                <textarea
                  formControlName="essencial_compra_colecao"
                  matInput
                  cols="30"
                ></textarea>
              </mat-form-field>
            </div>

            <!-- marca vender muito -->
            <div class="row flex-row-center">
              <h3 class="sub-header">
                Quais as principais
                <strong>razões de uma marca vender muito</strong> em sua loja?
              </h3>
              <mat-form-field class="text-area-description" appearance="fill">
                <mat-label>Descreva</mat-label>
                <textarea
                  class="text-area-description"
                  formControlName="razoes_vender_muito"
                  matInput
                  cols="30"
                ></textarea>
              </mat-form-field>
            </div>

            <hr />

            <h2 style="text-align: center">
              Em relação ao
              <strong>suporte fornecido com materiais de marketing</strong> para
              a sua loja, responda:
            </h2>

            <!-- Mais falta -->
            <div class="row flex-row-center">
              <h3 class="sub-header">O que sente mais falta?</h3>
              <mat-form-field class="text-area-description" appearance="fill">
                <mat-label>Descreva</mat-label>
                <textarea
                  class="text-area-description"
                  formControlName="marketing_sente_falta"
                  matInput
                  cols="30"
                ></textarea>
              </mat-form-field>
            </div>

            <!-- Mais ajuda -->
            <div class="row flex-row-center">
              <h3 class="sub-header">O que te ajuda muito?</h3>
              <mat-form-field class="text-area-description" appearance="fill">
                <mat-label>Descreva</mat-label>
                <textarea
                  class="text-area-description"
                  formControlName="marketing_ajuda_muito"
                  matInput
                  cols="30"
                ></textarea>
              </mat-form-field>
            </div>
          </section>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Voltar</button>
            <button mat-button color="primary" (click)="nextStep()">
              Próximo
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- Trade marketing -->
        <mat-expansion-panel
          [expanded]="step === 3"
          (opened)="setStep(3)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="header-mat">
              Trade marketing
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>grade</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <section>
            <!-- Possui mais de uma loja -->
            <div class="row flex-row-center">
              <h2 class="sub-header">Possui mais de uma loja?</h2>
              <section
                [(ngModel)]="maisDeUmaLoja"
                [ngModelOptions]="{ standalone: true }"
                ngDefaultControl
                class="checked-section"
              >
                <label class="checked-margin"></label>
                <mat-radio-group formControlName="possui_mais_de_uma_loja">
                  <mat-radio-button
                    color="primary"
                    class="checked-margin"
                    value="sim"
                    >Sim</mat-radio-button
                  >
                  <mat-radio-button
                    color="primary"
                    class="checked-margin"
                    value="nao"
                    >Não</mat-radio-button
                  >
                </mat-radio-group>
              </section>
            </div>

            <!-- Qnt Lojas -->
            <div *ngIf="maisDeUmaLoja == 'sim'">
              <div class="row flex-row-center">
                <h2 class="sub-header">Quantas lojas possui?</h2>
                <mat-form-field
                  [(ngModel)]="selectedValue2"
                  appearance="fill"
                  [ngModelOptions]="{ standalone: true }"
                  ngDefaultControl
                >
                  <mat-label>Quantidade de lojas</mat-label>
                  <input
                    type="number"
                    min="1"
                    max="6"
                    matInput
                    formControlName="qnt_lojas"
                    (blur)="getQntLojas()"
                  />
                </mat-form-field>
              </div>
              <hr />
            </div>

            <!-- Desc Lojas -->
            <div class="row flex-row-center">
              <div *ngFor="let item of numbers2">
                <div id="row{{ item }}">
                  <div class="row flex-row-center">
                    <!-- Nomes Lojas -->
                    <div class="col-lg-8 flex-row-center">
                      <mat-form-field class="wd-435" appearance="fill">
                        <mat-label>Nome {{ item + 1 }}</mat-label>
                        <input
                          matInput
                          formControlName="nomes_lojas{{ item + 1 }}"
                        />
                      </mat-form-field>
                    </div>
                    <!-- Local Lojas -->
                    <div class="col-lg-4 flex-row-center">
                      <mat-form-field appearance="fill">
                        <mat-label>Local {{ item + 1 }}:</mat-label>
                        <mat-select formControlName="local{{ item + 1 }}">
                          <mat-option value="bairro_loja_de_rua"
                            >loja de rua</mat-option
                          >
                          <mat-option value="bairro_sala_comercial"
                            >shopping (pequeno)</mat-option
                          >
                          <mat-option value="shoppingsala_comercial"
                            >shopping (grande)</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row flex-row-center">
                    <!-- vitrini -->
                    <div class="col-lg-4 flex-row-center">
                      <mat-form-field appearance="fill">
                        <mat-label style="font-size: small"
                          >Vitrine {{ item + 1 }} [múltipla escolha]</mat-label
                        >
                        <mat-select
                          formControlName="vitrine_expositor{{ item + 1 }}"
                          multiple
                        >
                          <mat-option value="vitrini_grande"
                            >Vitrine grande</mat-option
                          >
                          <mat-option value="vitrine_pequena"
                            >Vitrine pequena</mat-option
                          >
                          <mat-option value="vitrini_dupla"
                            >Vitrine dupla (lado esquerdo e direito)</mat-option
                          >
                          <mat-option value="vitrini_com_manequins"
                            >Vitrine com manequins</mat-option
                          >
                          <mat-option value="vitrini_sem_manequins"
                            >Vitrine sem manequins</mat-option
                          >
                          <mat-option value="vitrini_pendurar_no_teto"
                            >Vitrine com opção de pendurar no teto</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <!-- tamanho da loja -->
                    <div class="col-lg-4 flex-row-center">
                      <mat-form-field appearance="fill">
                        <mat-label>Tamanho da loja {{ item + 1 }}</mat-label>
                        <mat-select
                          formControlName="tamanho_loja{{ item + 1 }}"
                        >
                          <mat-option value="ate_25m">até 25m²</mat-option>
                          <mat-option value="de_25_a_50m"
                            >25 à 50 m²</mat-option
                          >
                          <mat-option value="de_50_a_75m"
                            >50 à 75 m²</mat-option
                          >
                          <mat-option value="acima_de_75m"
                            >acima de 75m²</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <!-- qnt vendedores -->
                    <div class="col-lg-4 flex-row-center">
                      <mat-form-field appearance="fill">
                        <mat-label>Qnt vendedores {{ item + 1 }}</mat-label>
                        <mat-select
                          formControlName="qnt_vendedores{{ item + 1 }}"
                        >
                          <mat-option value="ate_2"
                            >até 2 Vendedores</mat-option
                          >
                          <mat-option value="de_2_a_4"
                            >2 a 4 vendedores</mat-option
                          >
                          <mat-option value="de_4_a_6"
                            >4 a 6 vendedores</mat-option
                          >
                          <mat-option value="acima_7"
                            >acima de 7 vendedores</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div *ngIf="item > 0" class="flex-row-center">
                      <mat-icon style="cursor: pointer" (click)="deleteRowLoja(item)">delete</mat-icon>
                  </div> -->
                  <hr />
                </div>
              </div>
            </div>

            <!-- publico -->
            <div class="row flex-row-center">
              <h2 class="sub-header">Oferta para qual público?</h2>
              <mat-form-field appearance="fill">
                <mat-label style="font-size: small"
                  >Selecionar [múltipla escolha]</mat-label
                >
                <mat-select formControlName="qual_publico" multiple>
                  <mat-option value="feminino">Feminino</mat-option>
                  <mat-option value="masculino">Masculino</mat-option>
                  <mat-option value="infantil">Infantil</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- ofertado na loja -->
            <!-- <div class="row flex-row-center">
              <h2 class="sub-header">O que é ofertado na loja?</h2>
              <mat-form-field appearance="fill">
                <mat-label>Selecionar</mat-label>
                <mat-select formControlName="mix_ofertado" multiple>
                  <mat-option value="casual">Casual</mat-option>
                  <mat-option value="fitness">Fitness</mat-option>
                  <mat-option value="acessorios">Acessórios</mat-option>
                  <mat-option value="calcados">Calçados</mat-option>
                  <mat-option value="beachwear">Beachwear</mat-option>
                  <mat-option value="outros">Outros</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->

            <!-- mix ofertado -->
            <div>
              <h2 class="sub-header">Oferta de Mix</h2>
              <h3 class="sub-header2">
                Selecione o percentual que melhor traduz a representatividade de
                cada mix em relação à oferta total da loja.
              </h3>

              <div class="row flex-row-center">
                <mat-label class="lb-custom"> Fashion: </mat-label>
                <mat-slider
                  formControlName="percentual_fashion"
                  color="primary"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  step="10"
                  min="0"
                  max="100"
                  aria-label="units"
                ></mat-slider>
              </div>
              <div class="row flex-row-center">
                <mat-label class="lb-custom"> Esporte: </mat-label>
                <mat-slider
                  formControlName="percentual_esporte"
                  color="primary"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  step="10"
                  min="0"
                  max="100"
                  aria-label="units"
                ></mat-slider>
              </div>
              <div class="row flex-row-center">
                <mat-label class="lb-custom"> Calçado: </mat-label>
                <mat-slider
                  formControlName="percentual_calcados"
                  color="primary"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  step="10"
                  min="0"
                  max="100"
                  aria-label="units"
                ></mat-slider>
              </div>
              <div class="row flex-row-center">
                <mat-label class="lb-custom"> Acessórios: </mat-label>
                <mat-slider
                  formControlName="percentual_acessorios"
                  color="primary"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  step="10"
                  min="0"
                  max="100"
                  aria-label="units"
                ></mat-slider>
              </div>
              <div class="row flex-row-center">
                <mat-label class="lb-custom"> Praia: </mat-label>
                <mat-slider
                  formControlName="percentual_praia"
                  color="primary"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  step="10"
                  min="0"
                  max="100"
                  aria-label="units"
                ></mat-slider>
              </div>
              <div class="row flex-row-center">
                <mat-label class="lb-custom"> Noite (Balada): </mat-label>
                <mat-slider
                  formControlName="percentual_noite"
                  color="primary"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  step="10"
                  min="0"
                  max="100"
                  aria-label="units"
                ></mat-slider>
              </div>
            </div>
          </section>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Voltar</button>
            <button mat-button color="primary" (click)="nextStep()">
              Próximo
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- Share -->
        <mat-expansion-panel
          [expanded]="step === 4"
          (opened)="setStep(4)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="header-mat"> Share </mat-panel-title>
            <mat-panel-description>
              <mat-icon>monetization_on</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <section>
            <!-- Fatura/mes -->
            <div class="row flex-row-center">
              <h2 class="sub-header">Quanto Fatura por Mês?</h2>
              <mat-form-field
                [(ngModel)]="faturamento"
                [ngModelOptions]="{ standalone: true }"
                ngDefaultControl
                appearance="fill"
                floatLabel="always"
              >
                <mat-label>Valor</mat-label>
                <input
                  style="text-align: end"
                  matInput
                  formControlName="faturamento_mes"
                  placeholder="0"
                  type="text"
                  mask="separator"
                  thousandSeparator="."
                  (blur)="verificaFaturamento()"
                />
                <span matPrefix>R$&nbsp;</span>
                <span matSuffix>,00</span>
              </mat-form-field>
            </div>

            <!-- Qnt Marcas Vendidas -->
            <div class="row flex-row-bl">
              <h2 class="sub-header">Quantidade de marcas vendidas?</h2>
              <!-- <div class="flex-row-center">
                <mat-icon style="cursor: pointer; margin-left: 0 15px;" (click)="addRowMarcas()" >add_circle</mat-icon>
            </div> -->
              <mat-form-field
                [(ngModel)]="selectedValue1"
                appearance="fill"
                [ngModelOptions]="{ standalone: true }"
                ngDefaultControl
                style="width: 100px; text-align: center"
              >
                <mat-label>Quantidade</mat-label>
                <input
                  style="text-align: center; font-size: 16px"
                  type="number"
                  min="1"
                  matInput
                  formControlName="qnt_marcas"
                  (blur)="getQntMarcas()"
                />
              </mat-form-field>
              <!-- <div class="flex-row-center">
                <mat-icon style="cursor: pointer; margin-left: 0 15px;" (click)="removeRowsMarcas()">remove_circle</mat-icon>
            </div> -->
            </div>

            <!-- Lista Marcas -->
            <div class="row flex-row-top">
              <!-- col: nome - tempo - % -->
              <div class="col-lg-9">
                <div
                  class="row flex-row-center bt-border qnt-marcas-wrapper"
                  id="marcas-wrapper"
                  *ngFor="let item of numbers1"
                >
                  <!-- <div id="marca{{item}}"> -->
                  <!-- Nome Marca -->
                  <div class="col-lg-4 flex-row-center">
                    <mat-form-field appearance="fill">
                      <mat-label>Nome Marca {{ item + 1 }}</mat-label>
                      <input
                        matInput
                        formControlName="nome_marcas{{ item + 1 }}"
                      />
                    </mat-form-field>
                  </div>

                  <!-- Tempo Marca -->
                  <div class="col-lg-4 flex-row-center">
                    <mat-form-field
                      appearance="fill"
                      floatLabel="always"
                      style="width: 175px"
                    >
                      <mat-label>Tempo com a marca {{ item + 1 }}</mat-label>
                      <input
                        style="text-align: end"
                        matInput
                        type="number"
                        min="0"
                        formControlName="tempo_com_marca{{ item + 1 }}"
                        placeholder="Ex.: 1"
                        type=""
                      />
                      <span matSuffix>&nbsp;ano(s)</span>
                    </mat-form-field>
                  </div>
                  <!-- </div> -->
                  <!-- % -->
                  <div class="col-lg-3 flex-row-center">
                    <mat-form-field
                      appearance="fill"
                      floatLabel="always"
                      style="width: 150px"
                    >
                      <mat-label>Percentual {{ item + 1 }}</mat-label>
                      <input
                        style="text-align: end"
                        matInput
                        formControlName="qnt_percentual{{ item + 1 }}"
                        type="number"
                        min="0"
                        max="100"
                        placeholder="0"
                        (blur)="verificaFaturamento()"
                      />
                      <span matSuffix>%</span>
                    </mat-form-field>
                  </div>
                </div>
                <!-- col: share -->
                <!-- <div class="col-lg-3 flex-row-center">
                <mat-form-field appearance="fill">
                  <mat-label>Share Labella</mat-label>
                  <input
                    class="disable-text"
                    matInput
                    formControlName="share"
                    [value]="'R$ ' + real.format(share_verificado)"
                    placeholder="R$ 0,00"
                  />
                </mat-form-field>
              </div> -->
              </div>
            </div>

            <!-- LIMITE (Não mostra no front) -->
            <!-- <div style="display: none"> -->
            <div class="row flex-row-center">
              <h2 class="sub-header">Pedido Astral</h2>
              <mat-form-field
                [(ngModel)]="futura"
                [ngModelOptions]="{ standalone: true }"
                ngDefaultControl
                appearance="fill"
                floatLabel="always"
              >
                <mat-label>Valor</mat-label>
                <input
                  formControlName="pedido_futura"
                  style="text-align: end"
                  matInput
                  placeholder="0"
                  type="text"
                  mask="separator"
                  thousandSeparator="."
                  (blur)="verificaFaturamento()"
                />
                <span matPrefix>R$&nbsp;</span>
                <span matSuffix>,00</span>
              </mat-form-field>
            </div>
            <div class="row flex-row-center">
              <h2 class="sub-header">Limite</h2>
              <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Valor (preenchido automaticamente)</mat-label>
                <input
                  class="disable-text"
                  disabled
                  style="text-align: end"
                  matInput
                  placeholder="0"
                  [value]="real.format(limite_cred)"
                />
                <span matPrefix>R$&nbsp;</span>
                <span matSuffix>,00</span>
              </mat-form-field>
            </div>

            <!-- Potencial (Não mostra no front) -->
            <!-- <div style="display: none"> -->
            <div class="row flex-row-center">
              <h2 class="sub-header">Melhor Trimestre</h2>
              <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Valor (preenchido automaticamente)</mat-label>
                <input
                  class="disable-text"
                  disabled
                  style="text-align: end"
                  matInput
                  placeholder="0"
                  [value]="real.format(potencial)"
                />
                <span matPrefix>R$&nbsp;</span>
                <span matSuffix>,00</span>
              </mat-form-field>
            </div>

            <!-- Justifica limite menor -->
            <div *ngIf="teste_limite_maior">
              <!-- <div> -->
              <div class="row flex-row-center">
                <h2 class="sub-header2">Pedido Astral menor que o limite!</h2>
                <mat-form-field appearance="fill" class="wd-400">
                  <mat-label style="font-size: small"
                    >Justifique o motivo do pedido estar inferior ao limite de
                    crédito</mat-label
                  >
                  <textarea
                    formControlName="motivo_pedido_menor"
                    matInput
                    cols="30"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <!-- Justifica limite maior -->
            <div *ngIf="!teste_limite_maior">
              <!-- <div> -->
              <div class="row flex-row-center">
                <h2 class="sub-header2">Pedido Astral superior ao limite!</h2>
                <mat-form-field appearance="fill" class="wd-400">
                  <mat-label style="font-size: small"
                    >Justifique o motivo do pedido estar acima do limite de
                    crédito</mat-label
                  >
                  <textarea
                    formControlName="motivo_pedido_maior"
                    matInput
                    cols="30"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>

            <!-- Solicita aumento limite -->
            <div class="row flex-column-center">
              <h2 class="sub-header">
                Gostaria de solicitar aumento de limite?
              </h2>

              <section
                [(ngModel)]="gost_aumento"
                [ngModelOptions]="{ standalone: true }"
                ngDefaultControl
                class="checked-section"
              >
                <label class="checked-margin"></label>
                <mat-radio-group formControlName="solicita_aumento">
                  <mat-radio-button
                    color="primary"
                    class="checked-margin"
                    value="sim"
                    >Sim</mat-radio-button
                  >
                  <mat-radio-button
                    color="primary"
                    class="checked-margin"
                    value="nao"
                    >Não</mat-radio-button
                  >
                </mat-radio-group>
              </section>
              <div *ngIf="gost_aumento == 'sim'">
                <mat-form-field class="wd-400" appearance="fill">
                  <mat-label
                    >Descreva o motivo da solicitação de aumento</mat-label
                  >
                  <textarea
                    formControlName="motivo"
                    matInput
                    cols="30"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>

            <!-- Ser avaliador -->
            <div class="row flex-row-center">
              <h3 class="sub-header">
                {{ rep }}, você aceita ser avalista do pedido?
              </h3>
              <div>
                <section class="checked-section">
                  <label class="checked-margin"></label>
                  <mat-radio-group formControlName="aceita_avaliar_pedido">
                    <mat-radio-button
                      [checked]="true"
                      color="primary"
                      class="checked-margin"
                      value="sim"
                      ><p style="font-size: 1.8em; font-weight: 500">
                        Sim
                      </p></mat-radio-button
                    >
                    <mat-radio-button
                      color="primary"
                      class="checked-margin"
                      value="nao"
                      ><p style="font-size: 0.9em">Não</p></mat-radio-button
                    >
                  </mat-radio-group>
                </section>
              </div>
            </div>
          </section>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Voltar</button>
            <button mat-button color="primary" (click)="nextStep()">
              Finalizar
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel
          [expanded]="step === 5"
          (opened)="setStep(5)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="header-mat">
              Enviar formulário
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon></mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <section>
            <!-- Botão enviar -->
            <div class="row flex-row-center">
              <!-- <h2 class="sub-header">Enviar formulário</h2> -->
              <div>
                <button
                  mat-flat-button
                  color="primary"
                  (click)="salvar()"
                  [disabled]="clientes.invalid"
                >
                  Enviar
                </button>
                <button
                  mat-flat-button
                  color="warn"
                  style="margin-left: 10px"
                  (click)="cancelar()"
                >
                  Cancelar
                </button>
              </div>
            </div>
            <div class="flex-row-center">
              <small *ngIf="clientes.invalid" class="text-danger"
                >Por favor preencha todos os campos obrigatórios</small
              >
            </div>
          </section>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Voltar</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </form>

    <!-- Footer -->
    <footer class="page-footer font-small blue fixed-bottom">
      <div class="footer-copyright text-center footer-wrapper">
        © 2022 Copyright:
        <a
          class="link-footer"
          target="_blank"
          href="https://labellamafia.com.br"
          >Labellamafia</a
        >
      </div>
    </footer>

    <!-- <svg
    id="clouds"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
  >
    <title>Gray Clouds Background</title>
    <path
      id="Path_39"
      data-formControlName="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)"
      fill="#eee"
    />
  </svg> -->
  </div>
</div>
